

<div id="home">

<div class="home_type">
	<p><u>Desperate Copywriter?</u><br/> All your lines got kicked by your CD? Submit your unused Headlines here, help others, let them "bless" your lines - and find out if he made the error of his life.</p>
	
	<p><u>Uninspired Copywriter?</u><br /> Missing a quick hint or a source of inspiration for your next Headline? Come here and find it under thousands of unused headlines, submitted by others.</p>
	
	<p>Our Platform is from Copywriters for Copywriters. Therefore it is invitation only.</p>
	
</div>	

	
</div>