

<div class="special_select">

		<h1>Users by submitted lines - Top 10:</h1>

	</div>



<div class="linewrapper">
	
  	<div class="picker">
  		<div class="oneline_left_picker">
  			<p class="einzug">User:</p>
  		</div>
  		<div class="oneline_right_picker">
  			<p>Number of Lines:</p>
  		</div>
  	</div>


<% @headlines.each do |headline| %>
	<div class="<%= cycle("oneline_dark", "oneline")%>">
		<div class="oneline_left">
			<%= link_to headline.user.profile.username, user_lines_path(:id => headline.user) %>
		</div>
		<div class="oneline_right">
			<%=  link_to headline.headlines_count, user_lines_path(:id => headline.user) %>
		

		
	
		</div>
	</div>
	
	<% end %>
	
	
</div>




